*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
bin/
gen/
out/
.navigation/
captures/
*.hprof
.kotlin/
app/build/
**/build/
*.log
keystore.properties
*.jks
*.keystore
